# Rust Files
target/
**/*.rs.bk
*.pdb

# Database Files
*.db
*.db-shm
*.db-wal
*.db.bak

# Xenon Files
config.toml
/server/files/*
*.log

# Sidecar Files
vapid.key
subscriptions.json

# Testing files
/web/*