/* Dark Theme */

:root {
    /* General */
    --background: rgba(21, 24, 29, 1);
    --text: rgba(231, 234, 239, 1);
    --text-dim: rgba(152, 162, 179, 1);
    --border: rgba(47, 54, 65, 1);
    --border-dim: rgba(47, 54, 65, 0.5);
    --icon-size: 1.25rem;
    --danger: rgba(190, 0, 0, 1);
    --modal-background: rgba(0, 0, 0, 0.15);

    /* Components */
    --component: rgba(27, 31, 38, 1);
    --component-raised: rgba(47, 54, 67, 1);
    --component-hover: rgba(60, 60, 60, 1);
    --component-anim-time: 0.15s;

    /* Button Colors */
    --btn-disabled: rgba(50,50,50,1);
    --btn-tab: rgba(21, 24, 29, 1);
    --btn-tab-active: rgba(47, 54, 65, 1);
    --btn-entry: rgba(21, 24, 29, 1);
    --btn-entry-hover: rgba(30, 30, 30, 1);
    --btn-action: rgba(79, 140, 255, 1);
    --btn-action-hover: rgba(79, 120, 255, 1);

    /* Status Colors */
    --status-bar-width: 0.1875rem;
    --status-online: rgba(59, 165, 93, 1);
    --status-busy: rgba(190, 0, 0, 1);
    --status-away: rgba(240, 166, 55, 1);
    --status-invisible: rgba(152, 162, 179, 1);

    color-scheme: dark;
}

dialog {
    border: 1px solid var(--border);
}

input {
    background: var(--background);
    color: var(--text);
    border: 1px solid var(--border);
}

.icon {
    display: inline-flex;
    width: var(--icon-size);
    height: var(--icon-size);
}


/* Buttons */

button {
    background: var(--component);
    color: var(--text);
    border: 1px solid var(--border);
    user-select: none;
}

button.inherit {
    background: none;
    border: none;
}

button:hover {
    background-color: var(--component-hover);
}

button:disabled {
    background-color: var(--btn-disabled);
}

button.is-tab {
    background: var(--btn-tab);
}

button.is-tab.is-active {
    background: var(--btn-tab-active);
}

button.is-entry {
    background: var(--btn-entry);
}

button.is-entry:hover {
    background: var(--btn-entry-hover);
}

button.is-action {
    background: var(--btn-action);
}

button.is-action:hover {
    background: var(--btn-action-hover);
}

button.is-danger:hover {
    background-color: var(--danger);
}

.icon-btn:hover:not(:disabled) {
    background: var(--component-hover);
}

.icon-btn:disabled {
    opacity: 0.35;
    cursor: default;
}
